body {
    margin: 0;
    padding: 0;
    background-color: #ffccbc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3cm;
}

h1 {
    margin: 0;
    padding: 8px;
    background-color: #880e4f;
    color: #ffccbc;
    text-align: center;
    text-decoration: underline;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .6);
    font-size: 50px;
}

.karakterek {
    margin-top: 5cm;
    margin-bottom: 5cm;
    margin-left: 17cm;
    margin-right: 17cm;
    border: 8px solid #880e4f;
    border-radius: 16px;
    background-color: #ffcdd2;
    text-align: center;
}

#h2karakterek {
    text-decoration: underline;
    font-size: xx-large;
}

li {
    font-size: larger;
}

#liAhri {
    color: #4a148c;
}

#liAkali {
    color: #33691e;
}

#liSeraphine {
    color: #e91e63;
}

a {
    text-decoration-line: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

#h1Ahri {
    color: #4a148c;
}

#h1Akali {
    color: #33691e;
}

#h1Seraphine {
    color: #e91e63;
}

.Ahri {
    margin-left: 2cm;
    font-style: italic;
}

#h2AhriKepessegek, #h2AhriSkinek, #h2AhriHentai {
    margin-left: 1cm;
    color: #6a1b9a;
    font-style: normal;
}

.Akali {
    margin-left: 2cm;
    font-style: italic;
}

#h2AkaliKepessegek, #h2AkaliSkinek, #h2AkaliHentai {
    margin-left: 1cm;
    color: #689f28;
    font-style: normal;
}

.Seraphine {
    margin-left: 2cm;
    font-style: italic;
}

#h2SeraphineKepessegek, #h2SeraphineSkinek, #h2SeraphineHentai {
    margin-left: 1cm;
    color: #ec407a;
    font-style: normal;
}

p {
    font-style: normal;
}

img {
    width: 15%;
}

button {
    border-radius: 4px;
}

.ahriBtn {
    background-color: #6a1b9a;
    border: #4b0082;
    font-size: 30px;
}

.akaliBtn {
    background-color: #689f28;
    border: #006400;
    font-size: 30px;
}

.seraphineBtn {
    background-color: #ec407a;
    border: #c71585;
    font-size: 30px;
}

#videok {
    color: red;
}

#seraphineList {
    font-size: 17px;
}